extends ../shared/template
block content
  .row
    .col-xs-12
      #bigmap
  .row
    .col-xs-12
      table.table.table-striped.table-hover
        thead
          tr
            th Trip
            th Cash
            th Origin
            th Destination
            th Mid-Points
            th Total Distance
            th MPG
            th Gas Price/Gal
            th # Gallons
            th Cash Remaining
        tbody
          each trip in trips
            tr
              td= trip.name
              td= trip.cash
              td= trip.origin
              td= trip.destination
  .row
    .col-xs-12
      #directions

block scripts
  script(src='/js/user/trips.js')
